@page "/"
@inject IJSRuntime JS
@rendermode InteractiveServer

<h1>OpenStreetMap</h1>
<div style="display: flex; flex-direction: row;">
    <div id="map" style="height: 600px; width: 800px;"></div>
    <div style="padding: 1rem;">
        <span>marker:</span>
        @foreach(var marker in _geoMarkers)
        {
            <div style="display: flex; flex-direction: column; margin-bottom: 1rem;">
                <span>@marker.Title</span>
                <span>@marker.Latitude, @marker.Longitude</span>
            </div>
        }
    </div>
</div>

@code
{
    private List<GeoMarker> _geoMarkers = new();
    private DotNetObjectReference<MapPage>? _dotNetRef;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _dotNetRef = DotNetObjectReference.Create(this);

            await JS.InvokeVoidAsync("leafletInterop.initMap", "map", -2.5, 118.0, 5);
            await JS.InvokeVoidAsync("leafletInterop.locateAndCenter", _dotNetRef);
        }
    }

    [JSInvokable]
    public async Task OnGeolocationFound(double lat, double lng)
    {
        var geolocation = new GeoMarker
        {
            Latitude = lat,
            Longitude = lng,
            Title = "You are here!"
        };

        _geoMarkers.Add(geolocation);

        await JS.InvokeVoidAsync("leafletInterop.addMarkerToMap", geolocation.Latitude, geolocation.Longitude, geolocation.Title);

        StateHasChanged();
    }


    [JSInvokable]
    public async Task OnGeolocationError(string errorMessage)
    {
        Console.WriteLine($"Location error: {errorMessage}");
        await Task.CompletedTask;
    }

    public void Dispose()
    {
        _dotNetRef?.Dispose();
    }
}
