@page "/"
@inject IJSRuntime JS
@rendermode InteractiveServer

<h1>OpenStreetMap</h1>

<div id="map" style="height:500px;"></div>

@code
{
    public List<GeoMarker> GeoMarkers = new();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("leafletInterop.initMap", "map", 51.505, -0.09, 13);
            await JS.InvokeVoidAsync("leafletInterop.locateAndCenter");
            await JS.InvokeVoidAsync("leafletInterop.enableContextMenu");
        }
    }
}
